# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF

# IDE support files
*.class
/src/*.class
/.classpath
/.launch
/.project
*/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

*/.class
*/.project

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws

Ancestors/.classpath
Ancestors/.gitignore
Ancestors/src/
AnimalShelter/
Ants/.classpath
Ants/.gitignore
Ants/src/
Bonfires/.classpath
Bonfires/.gitignore
ConvexHull/
Digital/.classpath
Digital/.gitignore
Digital/src/
HeatedExchange/.classpath
JavaPlants/.classpath
JavaPlants/src/
KarelTheTrilogy/.DS_Store
KarelTheTrilogy/.classpath
KarelTheTrilogy/bin/
KarelTheTrilogy/lib/
KarelTheTrilogy/src/
KarelTheTrilogy/worlds/
Sets/.classpath
Sets/.gitignore
Sets/src/
ShiftyList/
